.nav-container {
  background-color: #0c3c60;
  display: flex;
  height: 70px;
  align-items: center;
}
.nav-container a {
  text-decoration: none;
  color: white;
}
.nav-container .nav-title {
  color: white;
  flex: 1;
  margin-left: 50px;
}
.nav-container .nav-title p {
  font-size: 20px;
  font-weight: 100;
}
.nav-container .selection {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: baseline;
  text-align: center;
  gap: 10px;
  white-space: nowrap;
  position: relative;
  right: 90px;
}
.nav-container .selection p {
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.8px;
}
.nav-container .selection p:nth-child(4) {
  padding: 20px;
}
.nav-container .selection p:hover {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}
.nav-container .selection i {
  margin-right: 10px;
  font-size: 25px;
}

.plans .title {
  margin: 120px;
  text-align: center;
}
.plans .title h1 {
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 5px;
}
.plans .title p {
  margin-top: 5px;
}
.plans .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 20px;
}
.plans .grid-container .card {
  border: 1.5px solid #d9d9d9;
  position: relative;
  text-align: center;
  margin-bottom: 200px;
}
.plans .grid-container .card .sticker {
  position: absolute;
  border: 1px solid #d9d9d9;
  background-color: #0c3c60;
  color: white;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  width: 85px;
  height: 30px;
  left: 40%;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plans .grid-container .card .colored {
  background-color: #eaf1f7;
}
.plans .grid-container .card .block1 {
  padding: 10px;
}
.plans .grid-container .card .block1 p:first-child {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 0;
}
.plans .grid-container .card .block1 p:nth-child(3) {
  font-size: 14px;
  margin-bottom: 30px;
}
.plans .grid-container .card .block1 p:nth-child(4) {
  font-size: 12px;
  margin-top: 0;
}
.plans .grid-container .card .block1 span {
  font-size: 70px;
  font-weight: 100;
}
.plans .grid-container .card .block1 span sup {
  font-size: 20px;
  vertical-align: text-top;
}
.plans .grid-container .card .block1 .button {
  width: 250px;
  background-color: #0c3c60;
  padding: 15px 20px;
  margin: 20px auto 20px;
}
.plans .grid-container .card .block1 .button a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.plans .grid-container .card .block1 .button:hover {
  opacity: 0.7;
  transition: 0.5s;
  cursor: pointer;
}
.plans .grid-container .card .block2 {
  border-top: 1.5px solid #d9d9d9;
}
.plans .grid-container .card .block2 p {
  font-size: 14px;
  padding: 5px;
}
.plans .grid-container .card .block2 p i {
  color: #5c95c0;
  margin-right: 5px;
}

.contacts {
  background-color: #0c3c60;
  color: white;
  height: auto;
  display: flex;
  flex-direction: column;
}
.contacts h2 {
  margin-top: 60px;
  font-size: 35px;
  font-weight: 100;
  text-align: center;
}
.contacts form {
  display: flex;
  flex-direction: column;
  margin: 50px 250px;
}
.contacts form input {
  width: 450px;
  margin-right: 40px;
}
.contacts form textarea {
  width: 725px;
  margin-right: 40px;
}
.contacts form input,
.contacts form textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: 1px solid white;
}
.contacts form input:focus-visible,
.contacts form textarea:focus-visible {
  border-bottom: 2px solid white;
}
.contacts form .label {
  margin-bottom: 15px;
}
.contacts form button {
  margin-top: 25px;
  width: 180px;
  height: 50px;
  background-color: white;
  border: 1px solid white;
  color: #0c3c60;
  font-weight: 700;
  font-size: 16px;
}
.contacts form button:hover {
  background-color: #0c3c60;
  color: white;
  transition: 0.5s;
}
.contacts form .row1,
.contacts form .row2,
.contacts form .row3 {
  display: flex;
}
.contacts form .row1,
.contacts form .row2,
.contacts form .row3 {
  margin-top: 4%;
}
.contacts .map-image {
  margin: 5% auto 5%;
}

footer {
  background-color: #072136;
  color: white;
  padding: 30px 100px 100px;
}
footer p {
  margin: 0;
}
footer a {
  text-decoration: none;
  color: white;
}
footer h3 {
  font-weight: 100;
}
footer .footcontainer {
  display: flex;
  justify-content: space-between;
}
footer .footcontainer .footcontacts {
  flex: 2;
}
footer .footcontainer .menu {
  flex: 1;
  line-height: 2rem;
}
footer .footcontainer .menu a:hover {
  opacity: 0.8;
  color: #72bbf7;
}
footer .footcontainer .socials {
  flex: 1;
}
footer .footcontainer .socials a {
  text-decoration: underline;
}
footer .footcontainer .socials .brands {
  margin-bottom: 50px;
}
footer .footcontainer .socials .brands i {
  margin-right: 10px;
}/*# sourceMappingURL=plans_and_pricing.css.map */