.nav-container {
    background-color: #0c3c60;
    display: flex;
    height: 70px;
    align-items: center;

    a {
        text-decoration: none;
        color: white;
    }

    .nav-title {
        color: white;
        flex: 1;
        margin-left: 50px;

        p {
            font-size: 20px;
            font-weight: 100;
        }
    }

    .selection {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: baseline;
        text-align: center;
        gap: 10px;
        white-space: nowrap;
        position: relative;
        right: 90px;

        p {
            font-size: 13px;
            font-weight: 100;
            letter-spacing: 0.8px;

            &:nth-child(4) {
                padding: 20px;
            }

            &:hover {
                opacity: 0.5;
                transition: 0.5s;
                cursor: pointer;
            }
        }

        i {
            margin-right: 10px;
            font-size: 25px;
        }
    }
}

.project-management {
    margin: 100px 350px 30px;

    .title {
        margin-bottom: 200px;

        h1 {
            font-size: 50px;
            font-weight: 100;
            padding-left: 17px;
        }
    }

    .check {

        .container {
            display: flex;
            border: 1.5px solid #d7d7d7;
            width: fit-content;
            margin: 30px 0px;


            .block {
                font-size: 18px;
                padding: 15px;

                &:first-child {
                    border-right: 1.5px solid #d7d7d7;
                }

                &:nth-child(2) {
                    border-right: 1.5px solid #d7d7d7;
                }
            }
        }
    }

    .button {
        width: 100px;
        background-color: #0c3c60;
        padding: 10px 20px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 30px;
        font-size: 15px;
        border: 1px solid white;

        &:hover {
            cursor: pointer;
            background-color: white;
            border: 1px solid #0c3c60;
            transition: 0.5s;

            a {
                color: #0c3c60;
            }
        }

        a {
            text-decoration: none;
            color: white;
        }
    }

    .description {
        border-top: 1px solid #d7d7d7;
        margin-bottom: 30px;

        h2 {
            font-size: 20px;
            font-weight: 700;
            margin: 30px 0px 20px;
        }

        p {
            margin: 0;
        }
    }

    .details {
        border-top: 1px solid #d7d7d7;

        h2 {
            font-size: 20px;
            font-weight: 700;
            margin: 30px 0px 20px;
        }

        p {
            margin: 0;
        }
    }


}


.contacts {
    background-color: #0c3c60;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;


    h2 {
        margin-top: 60px;
        font-size: 35px;
        font-weight: 100;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 50px 250px;

        input {
            width: 450px;
            margin-right: 40px;
        }

        textarea {
            width: 725px;
            margin-right: 40px;
        }

        input,
        textarea {

            border: none;
            background-color: transparent;
            resize: none;
            outline: none;
            border-bottom: 1px solid white;

            &:focus-visible {
                border-bottom: 2px solid white;
            }
        }

        .label {
            margin-bottom: 15px;
        }

        button {
            margin-top: 25px;
            width: 180px;
            height: 50px;
            background-color: white;
            border: 1px solid white;
            color: #0c3c60;
            font-weight: 700;
            font-size: 16px;

            &:hover {
                background-color: #0c3c60;
                color: white;
                transition: 0.5s;
                cursor: pointer;
            }
        }

        .row1,
        .row2,
        .row3 {
            display: flex;
        }

        .row1,
        .row2,
        .row3 {
            margin-top: 4%;
        }

    }

    .map-image {
        margin: 5% auto 5%;
    }
}

footer {
    background-color: #072136;
    color: white;
    padding: 30px 100px 100px;

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    h3 {
        font-weight: 100;
    }

    .footcontainer {
        display: flex;
        justify-content: space-between;

        .footcontacts {
            flex: 2;
        }

        .menu {
            flex: 1;
            line-height: 2rem;

            a {
                &:hover {
                    opacity: 0.8;
                    color: #72bbf7;
                }
            }
        }

        .socials {
            flex: 1;

            a {
                text-decoration: underline;
            }

            .brands {
                margin-bottom: 50px;

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}