.nav-container {
    background-color: #0c3c60;
    display: flex;
    height: 70px;
    align-items: center;

    a {
        text-decoration: none;
        color: white;
    }

    .nav-title {
        color: white;
        flex: 1;
        margin-left: 50px;

        p {
            font-size: 20px;
            font-weight: 100;
        }
    }

    .selection {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-right: 50px;
        align-items: baseline;
        text-align: center;
        gap: 10px;
        white-space: nowrap;

        p {
            font-size: 13px;
            font-weight: 100;
            letter-spacing: 0.8px;

            &:nth-child(4) {
                padding: 20px;
            }
        }

        i {
            margin-right: 10px;
            font-size: 25px;
        }
    }
}

.services {

    h1 {
        text-align: center;
        margin: 100px;
        font-size: 60px;
        font-weight: 100;
    }

    .container {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 80px;
            justify-items: center;
            margin-bottom: 120px;

            .card {
                width: 1000px;
                display: flex;
                border: 1.5px solid #c7c7c7c7;
                position: relative;

                a {
                    text-decoration: none;
                    color: #0c3c60;
                }

                .image {
                    flex: 1;
                    background-color: black;

                    img {
                        display: flex;
                        max-width: 100%;
                        object-fit: cover;
                        object-position: 50% 50%;

                        &:hover {
                            opacity: 0.7;
                            filter: brightness(95%);
                        }
                    }
                }

                .text {
                    flex: 1;
                    position: relative;
                    left: 50px;
                    top: 30px;


                    h2 {
                        font-size: 25px;
                        font-weight: 100;

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .button {
                        border: 1px solid #0c3c60;
                        width: 130px;
                        padding: 8px;
                        text-align: center;

                        a {
                            font-weight: 600;
                        }

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

.contacts {
    background-color: #0c3c60;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;


    h2 {
        margin-top: 60px;
        font-size: 35px;
        font-weight: 100;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 50px 250px;

        input {
            width: 450px;
            margin-right: 40px;
        }

        textarea {
            width: 725px;
            margin-right: 40px;
        }

        input,
        textarea {

            border: none;
            background-color: transparent;
            resize: none;
            outline: none;
            border-bottom: 1px solid white;

            &:focus-visible {
                border-bottom: 2px solid white;
            }
        }

        .label {
            margin-bottom: 15px;
        }

        button {
            margin-top: 25px;
            width: 180px;
            height: 50px;
            background-color: white;
            border: 1px solid white;
            color: #0c3c60;
            font-weight: 700;
            font-size: 16px;

            &:hover {
                background-color: #0c3c60;
                color: white;
                transition: 0.5s;
            }
        }

        .row1,
        .row2,
        .row3 {
            display: flex;
        }

        .row1,
        .row2,
        .row3 {
            margin-top: 4%;
        }

    }

    .map-image {
        margin: 5% auto 5%;
    }
}

footer {
    background-color: #072136;
    color: white;
    padding: 30px 100px 100px;

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    h3 {
        font-weight: 100;
    }

    .footcontainer {
        display: flex;
        justify-content: space-between;

        .footcontacts {
            flex: 2;
        }

        .menu {
            flex: 1;
            line-height: 2rem;
        }

        .socials {
            flex: 1;

            .brands {
                margin-bottom: 50px;

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}